{
    "presets": [
        "es2015",
        "stage-3",
        "react"
    ],
    "plugins": [
        "./data/schema",
        "transform-flow-strip-types",
        "syntax-async-functions",
        "transform-regenerator"
    ]
}
